.main__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 864px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 664px;
  }
}

.main__index-catalog {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.main__advantages {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 220px;
    padding-bottom: 0;
  }
}
