.page__body {
  position: relative;
  margin: 0;
  min-width: 320px;
  font-family: $font-lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}
